.services-section {
    width: 100%;
    padding: 2.5rem 0;
}
.section-title {
    text-align: center;
    padding-bottom: 1.5rem;
}
.inner-services-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem
}